<div class="form form-article">
    {{ form_start(form) }}
        <div class="title-content">
            {{ form_label(form.title, 'Titre', {
                    'label_attr': {'class': 'label-title'}
            }) }}
            {{ form_widget(form.title) }}

            {{ form_label(form.content, 'Contenue', {
                    'label_attr': {'class': 'label-content'}
            }) }}
            {{ form_widget(form.content, {
                'attr': {'class': 'form-content'}
            }) }}
        </div>

        <div class="user-file">
            <div class="user-item">
                {{ form_label(form.user, 'Utilisateur', {
                        'label_attr': {'class': 'label-user'}
                }) }}
                {{ form_widget(form.user) }}
            </div>
            <div class="file-item">
                {{ form_label(form.file, 'Ajouter un fichier', {
                        'label_attr': {'class': 'label-file'}
                }) }}
                {{ form_widget(form.file) }}
            </div>
        </div>

        <div class="category-item">
            {{ form_label(form.category, 'Catégorie de l\'article', {
                'label_attr': {'class': 'label-file'}
            }) }}
            {{ form_widget(form.category) }}
        </div>
        <button class="btn btn-success my-2">{{ button_label|default('Enregistre') }}</button>
    {{ form_end(form) }}
</div>
