{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block title %}Article{% endblock %}

{% block body %}
    {% for article in articles %}
        <div class="admin-article">
            <div class="admin-title-article">
                <h4>Titre : {{ article.title }}</h4>
            </div>
            <div class="admin-category-article">
                {% if article.category %}
                    <h6>Catégorie: {{ article.category }}</h6>
                {% else %}
                    <h6>Catégorie : Cet article n'a pas de catégorie</h6>
                {% endif %}
            </div>
            <div class="admin-img-article">
                <img src="{{ asset('uploads/' ~ article.file) }}" width="100" alt="fichier de l' article">
            </div>
            <div class="admin-content-article my-2">
                {{ article.content }}
            </div>
            <div class="admin-create-article my-2">
                <h6>Date de création</h6>
                {{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}
            </div>
            <button class="btn btn-secondary">
                <a href="{{ path('admin_article_show', {'id': article.id}) }}">Voir</a>
            </button>
            <button class="btn btn-warning">
                <a href="{{ path('admin_article_edit', {'id': article.id})}}">Modifier</a>
            </button>
        </div>
    {% else %}
        <span>Aucun article publier</span>
    {% endfor %}

    <button class="btn btn-info mt-4">
        <a href="{{ path('admin_article_new') }}">Ajouter un article</a>
    </button>
{% endblock %}
