{% extends 'base-admin.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}" />
{% endblock %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    <h1 class="form-title">Créer un compte</h1>

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-light" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ form_start(registrationForm) }}
        {{ form_label(registrationForm.name, 'Nom', {
            'label_attr': {'class': 'label-name'}
        }) }}
        {{ form_widget(registrationForm.name) }}

        {{ form_label(registrationForm.email, 'Adresse e-mail', {
            'label_attr': {'class': 'label-email'}
        }) }}
        {{ form_widget(registrationForm.email) }}

        {{ form_label(registrationForm.plainPassword, 'Mot de passe', {
            'label_attr': {'class': 'label-email'}
        }) }}
        {{ form_widget(registrationForm.plainPassword) }}

        {{ form_row(registrationForm.agreeTerms, {'label': 'conditions d\'utilisation'}) }}

        <button type="submit" class="btn btn-success">Inscription</button>
    {{ form_end(registrationForm) }}

    <p class="login-identity">Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Identifiez-vous</a></p>
{% endblock %}
