{% extends 'base-admin.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block title %}Gestion des catégories - Voir une catégorie{% endblock %}

{% block body %}
    <h1>Category</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Nom de la catégorie</th>
                <td>{{ category.name }}</td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-primary"><a href="{{ path('admin_category_index') }}">Retour</a></button>

    <button class="btn btn-warning">
        <a href="{{ path('admin_category_edit', {'id': category.id}) }}">Modifier</a>
    </button>

    {{ include('admin_category/_delete_form.html.twig') }}
{% endblock %}
