{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/contact.css') }}">
{% endblock %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1 class="title-card">Contact</h1>

    <div class="contact">
        <div class="image-contact">
            <img src="{{ asset('img/img-contact.jpg') }}" alt="logo site" />
        </div>
        <div class="contact-body">
            {% for contact in contacts %}
                <div class="contact-item">
                    <h5>Dojo salle alemana</h5>
                    <div class="adress">
                        <div class="street-postalCode">
                            {{ contact.street }}
                            {{ contact.postalCode }}
                        </div>
                        <div class="country">
                            {{ contact.city }}, {{ contact.country }}
                        </div>
                    </div>
                </div>
                <div class="contact-item">
                    <h5>Téléphone</h5>
                    <p class="phone">{{ contact.phone }}</p>
                </div>
                <div class="contact-item">
                    <h5>Réseaux sociaux</h5>
                    <div class="networks">
                        <a href="https://www.facebook.com/taekwonkidovincennes" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="https://www.instagram.com/taekwonkidovincennes/" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
                <div class="contact-item">
                    <h5>Courrier électronique</h5>
                    <a class="email" href="mailto:">{{ contact.email }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
