<div class="form-file form">
    {{ form_start(form) }}
        <div class="form-item">
            <div class="title-category">
                <div class="title-item">
                    {{ form_label(form.title, 'Nom du fichier', {
                        'label_attr': {'class': 'label-title'}
                    }) }}
                    {{ form_widget(form.title) }}
                </div>
                <div class="category-item">
                    {{ form_label(form.category, 'Ajouter une categorie', {
                        'label_attr': {'class': 'label-category'}
                    }) }}
                    {{ form_widget(form.category) }}
                </div>
            </div>
            <div class="file-item">
                {{ form_label(form.image, 'Inserer un fichier', {
                    'label_attr': {'class': 'label-file'}
                }) }}
                {{ form_widget(form.image) }}
            </div>
        </div>

        <button class="btn btn-success my-2">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}
</div>
